In [48]:
import pandas as pd
#学習用データ
train = pd.read_csv('train.tsv',sep='\t',index_col=0)
#評価用データ
test = pd.read_csv('test.tsv',sep='\t',index_col=0)
#提出用サンプル
sample_submit = pd.read_csv('sample_submit.tsv',sep='\t',index_col=0)

train.head()

    survived  pclass     sex   age  sibsp  parch     fare embarked
id
3          1       1  female  35.0      1      0  53.1000        S
4          0       3    male  35.0      0      0   8.0500        S
7          0       3    male   2.0      3      1  21.0750        S
9          1       2  female  14.0      1      0  30.0708        C
11         1       1  female  58.0      0      0  26.5500        S

In [16]:
train['survived'].value_counts()

0    266
1    179
Name: survived, dtype: int64

In [17]:
train.describe()

         survived      pclass         age       sibsp       parch        fare
count  445.000000  445.000000  360.000000  445.000000  445.000000  445.000000
mean     0.402247    2.296629   29.211583    0.546067    0.431461   33.959971
std      0.490903    0.834024   14.154300    1.195247    0.850489   52.079492
min      0.000000    1.000000    0.670000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.000000    0.000000    0.000000    7.925000
50%      0.000000    3.000000   28.000000    0.000000    0.000000   15.000000
75%      1.000000    3.000000   37.250000    1.000000    1.000000   31.387500
max      1.000000    3.000000   80.000000    8.000000    5.000000  512.329200

In [18]:
ts1 = train.shape
ts2 = test.shape
print(ts1,ts2)

(445, 8) (446, 7)

In [19]:
test.head()

    pclass     sex   age  sibsp  parch     fare embarked
id
0        3    male  22.0      1      0   7.2500        S
1        1  female  38.0      1      0  71.2833        C
2        3  female  26.0      0      0   7.9250        S
5        3    male   NaN      0      0   8.4583        Q
6        1    male  54.0      0      0  51.8625        S

In [49]:
train = train[['survived','sibsp','parch','fare']]
test = test[['sibsp','parch','fare']]

In [50]:
#目的変数
y = train['survived']
#目的変数を除いたデータ
X = train.drop(['survived'],axis=1)
print(y)

id
3      1
4      0
7      0
9      1
11     1
      ..
873    0
874    1
879    1
884    0
888    0
Name: survived, Length: 445, dtype: int64

In [51]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X, y)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [52]:
pred = model.predict_proba(test)[:,1]

In [53]:
print(pred[:5])

[0.27328192 0.527639   0.33060458 0.33261429 0.51039348]

In [56]:
print(len(sample_submit))
print(len(pred))

445
446

In [69]:
print(sample_submit.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 445 entries, 1 to 890
Data columns (total 1 columns):
0.1    445 non-null int64
dtypes: int64(1)
memory usage: 7.0 KB
None

In [71]:
pred2 = pd.DataFrame(data=pred)

TypeError: DataFrame constructor called with incompatible data and dtype: __array__() missing 1 required positional argument: 'self'

In [ ]:
print(pred2[:5])

In [77]:
import pandas as pd
train = pd.read_csv("train.tsv", sep="\t", index_col=0) # 学習用データ
test = pd.read_csv("test.tsv", sep="\t", index_col=0)   # 評価用データ
sample_submit = pd.read_csv("sample_submit.tsv", sep="\t", index_col=0, header=None) # 応募用サンプルファイル

train = train[["survived","sibsp", "parch", "fare"]]
test = test[["sibsp", "parch", "fare"]]
y = train["survived"] # 目的変数
X = train.drop(["survived"], axis=1) # 目的変数を除いたデータ

from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X, y)

pred = model.predict_proba(test)[:, 1]

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [78]:
sample_submit[1] = pred

In [79]:
print(len(pred))
print(len(sample_submit))

446
446

In [81]:
sample_submit.to_csv('submit.tsv', header=None, sep='\t')

In [ ]:
'''
ここまでで一応の形になった。
ここからデータをいじくって結果の向上を試みる


'''

In [84]:
import pandas as pd
train = pd.read_csv("train.tsv", sep="\t", index_col=0) # 学習用データ
test = pd.read_csv("test.tsv", sep="\t", index_col=0)   # 評価用データ
sample_submit = pd.read_csv("sample_submit.tsv", sep="\t", index_col=0, header=None) # 応募用サンプルファイル
'''
ここからデータを分析し始める
'''
train.describe()

         survived      pclass         age       sibsp       parch        fare
count  445.000000  445.000000  360.000000  445.000000  445.000000  445.000000
mean     0.402247    2.296629   29.211583    0.546067    0.431461   33.959971
std      0.490903    0.834024   14.154300    1.195247    0.850489   52.079492
min      0.000000    1.000000    0.670000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.000000    0.000000    0.000000    7.925000
50%      0.000000    3.000000   28.000000    0.000000    0.000000   15.000000
75%      1.000000    3.000000   37.250000    1.000000    1.000000   31.387500
max      1.000000    3.000000   80.000000    8.000000    5.000000  512.329200

In [85]:
train.corr()

          survived    pclass       age     sibsp     parch      fare
survived  1.000000 -0.358097 -0.081394 -0.045087  0.079669  0.258605
pclass   -0.358097  1.000000 -0.300686  0.069857 -0.015726 -0.549651
age      -0.081394 -0.300686  1.000000 -0.283126 -0.153382  0.098488
sibsp    -0.045087  0.069857 -0.283126  1.000000  0.423522  0.164773
parch     0.079669 -0.015726 -0.153382  0.423522  1.000000  0.241855
fare      0.258605 -0.549651  0.098488  0.164773  0.241855  1.000000

In [86]:
pd.get_dummies(train).corrwith(train['survived'])

survived      1.000000
pclass       -0.358097
age          -0.081394
sibsp        -0.045087
parch         0.079669
fare          0.258605
sex_female    0.559465
sex_male     -0.559465
embarked_C    0.182568
embarked_Q    0.005062
embarked_S   -0.172769
dtype: float64

In [90]:
train[['pclass','survived']].groupby(['pclass']).mean()

        survived
pclass
1       0.685185
2       0.443299
3       0.258333

In [91]:
train[['sex','survived']].groupby(['sex']).mean()

        survived
sex
female  0.775641
male    0.200692

In [ ]:
'''
ここからでーたの前処理を行う


'''

In [99]:
data = pd.concat([train,test])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,age,embarked_C,embarked_Q,embarked_S,fare,parch,pclass,sex_female,sex_male,sibsp,survived
id,,,,,,,,,,,
885,39.0,0,1,0,29.125,5,3,1,0,0,NaN
886,27.0,0,0,1,13.000,0,2,0,1,0,NaN
887,19.0,0,0,1,30.000,0,1,1,0,0,NaN
889,26.0,1,0,0,30.000,0,1,0,1,0,NaN
890,32.0,0,1,0,7.750,0,3,0,1,0,NaN

In [94]:
data['age'] = data['age'].fillna(data['age'].mean())
data['embarked'] = data['embarked'].fillna(data['embarked'].mode())

In [95]:
data = pd.get_dummies(data)

In [100]:
#学習用と評価用のデータに戻す
train = data.loc[train.index]
test = data.loc[test.index]
test = test.drop(['survived'],axis=1)

In [101]:
train.head()

,age,embarked_C,embarked_Q,embarked_S,fare,parch,pclass,sex_female,sex_male,sibsp,survived
id,,,,,,,,,,,
3,35.0,0,0,1,53.1000,0,1,1,0,1,1.0
4,35.0,0,0,1,8.0500,0,3,0,1,0,0.0
7,2.0,0,0,1,21.0750,1,3,0,1,3,0.0
9,14.0,1,0,0,30.0708,0,2,1,0,1,1.0
11,58.0,0,0,1,26.5500,0,1,1,0,0,1.0

In [102]:
y = train["survived"] # 目的変数
X = train.drop(["survived"], axis=1) # 目的変数を除いたデータ

In [103]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X, y)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [104]:
pred = model.predict_proba(test)[:, 1]

In [105]:
print(pred[:5])

[0.11060391 0.91622555 0.65197377 0.15906757 0.27879684]

In [106]:
sample_submit[1] = pred
sample_submit.to_csv('submit2.tsv', header=None, sep='\t')